---
import "../global.css";
import "../subpages.css";
import Layout from "../layouts/Layout.astro";
import Subpagemenu from "../components/Subpagemenu.astro";
import Footer from "../components/Footer.astro";
import Backbutton from "../components/Backbutton.astro";

export async function getStaticPaths() {
  const data = await fetch("https://rlorrsagultuatdyhvhu.supabase.co/rest/v1/Albums", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJsb3Jyc2FndWx0dWF0ZHlodmh1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyODc3ODYsImV4cCI6MjAzMTg2Mzc4Nn0.CvkZ1QH0hJYE5KmLRdBhGr7F__KopLbjDVRkV8lk3gs",
    },
  }).then((res) => res.json());

  return data.map((Artwork) => {
    return {
      params: { slug: Artwork.slug },
      props: { myData: Artwork },
    };
  });
}

const { myData } = Astro.props;

// console.log(myData);
---

<Layout title={myData.name}>
  <Subpagemenu />
  <section class="subpagealbum">
    <div class="backbutton">
      <a class="back" href="javascript:history.back()"><center>&lt; BACK</center></a>
    </div>
    <section class="album">
      <h1>"{myData.name}"</h1>
      <div class="grid_1-1">
        <img src={myData.image} alt="Album artwork" />
        <div>
          <h2>{myData.name}</h2>
          <p class="info">{myData.info}</p>
          <br />
          <p>{myData.mixed_recorded_produced}</p>
          <p>{myData.mastered}</p>
          <iframe style="border-radius:12px" src={myData.spotify} width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"> </iframe>
        </div>
        <p>An album by {myData.artist}</p>
      </div>
    </section>
  </section>
  <Footer class="footer" />

  <script>
    let infoBOX = document.querySelector(".info");

    infoBOX.innerHTML = infoBOX.innerHTML.replaceAll(";", "<br>");
  </script>

  <style>
    h1 {
      color: var(--accent1);
      font-size: 3rem;
      padding-top: 3rem;
      margin-bottom: 3rem;
    }
    h2 {
      color: var(--primary);
      font-size: 2rem;
      margin-top: 2rem;
    }

    p {
      color: var(--accent1);
      font-size: 1rem;
    }

    .album {
      margin: -2rem 10% 6rem 10%;
    }

    .subpagealbum {
      border-bottom: 1px solid var(--primary);
    }

    .backbutton {
      padding-top: 3rem;
    }

    @media (min-width: 800px) {
      .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
      }

      img {
        width: 100%;
      }

      iframe {
        margin-top: 50px;
      }
    }
  </style>
</Layout>
